[Unit]
Description=Unseal Vault after startup
After=vault.service
Requires=vault.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/unseal-vault.sh
User=root

[Install]
WantedBy=multi-user.target
